@import "variables";

.wrong-answer {
  color: red;
  border: 40px solid red;
  position: absolute;
  font-size: 80vh;
  line-height: 80vh;
  height: 80vh;
  width: 80vh;
  text-align: center;
  margin-top: -40vh;
  margin-left: -40vh;
  top: 50%;
  left: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
