@import "variables";

.wrong-answer {
  color: $red;
  border: 40px solid $red;
  position: absolute;
  font-size: 800px;
  line-height: 800px;
  height: 800px;
  width: 800px;
  text-align: center;
  margin-top: -400px;
  margin-left: -400px;
  top: 50%;
  left: 50%;
}
